# Explore example conflicts

In [1]:
import pandas as pd

In [2]:
conflicts_path = "data/conflicts.csv"

In [3]:
df = pd.read_csv(conflicts_path).dropna()
df = df.sort_values(by='conflicts', ascending=True)

In [4]:
pd.set_option('display.max_colwidth', None)
df.style.set_properties(**{'text-align': 'left'})

In [5]:
len(df)

24